.title {
  font-size: 36px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 160px 0 70px;
}
.title::after {
  content: '';
  display: block;
  height: 4px;
  width: 40px;
  margin-top: 14px;
  background-color: #fff;
}
.contentDv {
  min-height: 460px;
  padding: 40px 20px 52px;
  background-color: #fff;
  box-shadow: 0px 5px 30px 0px rgba(229, 235, 242, 0.1);
  border-radius: 6px;
}
.list {
  padding-top: 15px;
}
